<!DOCTYPE html>
<html>
<body>
<section>
    <div flash-message="5000" ></div>

    <p></p>
    <p>Podaj tytuł książki:</p>
    <input type="text" ng-model="prefix">
    <button class="btn btn-default" ng-click="search()">Szukaj</button>
    <button class="btn btn-default" ng-click="addBook()">Dodaj książkę</button>

    <table>
        <tr>
            <th>Tytuł</th>
            <th>Autorzy</th>
            <th>Usuń</th>
            <th>Edytuj tytuł</th>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{ book.title }}</td>
              <td>
                <span ng-repeat="author in book.authors"> {{ author.firstName }} {{ author.lastName }}; </span>
              </td>
            <td>
                <button class="btn btn-warning" ng-click="deleteBook(book.id)">Usuń</button>
            </td>
            <td>
                <div class="editbutton">
                    <button class="btn btn-warning" ng-click="editBook(book)">Edytuj</button>
                </div>
            </td>
        </tr>
    </table>
</section>
</body>
</html>
