<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Books List</title>
</head>
<body>
	<h1>Books</h1>
	<table border="1">
		<tr>
			<th>Id:</th>
			<th>Title:</th>
			<th>Authors:</th>
			<th>Delete book:</th>
		</tr>
		<tr th:each="book : ${books}">
			<td style="padding: 0 15px 0 15px;" th:text="${book.id}">Id</td>
			<td style="padding: 0 15px 0 15px;" th:text="${book.title}">Title</td>
			<td style="padding: 0 15px 0 15px;" th:text="${book.authors}">Authors</td>
			<td>
				<div align="center">
					<form data-th-action="@{'/books/delete/' + ${book.id}}"
						data-th-object="${books}" method="post">
						<button type="submit">Delete</button>
					</form>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>