<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista wszystkich książek</title>
</head>
<body>
	<h1>Books</h1>
	<table border="1">
		<tr>
			<th>Id:</th>
			<th>Title:</th>
			<th>Authors:</th>
			<th>Delete book:</th>
		</tr>
		<tr th:each="book : ${books}">
			<td style="padding: 0 15px 0 15px;" th:text="${book.id}">Id</td>
			<td style="padding: 0 15px 0 15px;" th:text="${book.title}">Title</td>
			<td style="padding: 0 15px 0 15px;" th:text="${book.authors}">Authors</td>
			<td>
				<div align="center">
					<form data-th-action="@{'/books/delete/' + ${book.id}}"
						data-th-object="${books}" method="post">
						<button type="submit">Delete</button>
					</form>
				</div>
			</td>
		</tr>
	</table>

	<p>&nbsp;</p>

	<form method="post" data-th-action="@{'/books/add_new'}">
		<table>
			<tr>
				<td>Title:</td>
				<td> <input type="text" name="title" /> </td>
			</tr>
			<tr>
				<td>Authors:</td>
				<td><input type="text" name="authors" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" onclick="myFunction()">Add book</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>